body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    position: relative; 
    min-height: 100vh; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    position: relative; 
    padding-bottom: 60px; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.search-form, .movie-list, .ticket-form, .ticket-list {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.movie img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn-cancel {
    background-color: #FF0000;
}

.cancel-btn-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
